<html>
<head></head>
<body>

    <h1> Following are the titles of given websites: </h1>

<p>
  {{queryParameter}}
</p>

    <!-- <ul>
       <li> {{queryParameter}} - "Google" </li>
    </ul> -->
</body>
</html>
